# tomo-seq shiny app .gitignore
# Copyright (C) 2017-2018  Marcel Schilling
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

#######################
# general information #
#######################

# file:         .gitignore
# created:      2017-02-23
# last update:  2018-04-04
# license:      GNU Affero General Public License Version 3 (GNU AGPL v3)
# author(s):    Marcel Schilling <marcel.schilling@mdc-berlin.de>
# purpose:      untrack input files for tomo-seq shiny app


######################################
# change log (reverse chronological) #
######################################

# 2018-04-04: added Rds file providing default shifts/stretches
# 2018-03-20: added Rds file providing gonad arm model
# 2017-03-29: added Rds file providing gene profiles
# 2017-02-24: added license comment
# 2017-02-23: initial version (Rds file providing tomo-seq data)


###############
# input files #
###############

# Rds file providing tomo-seq data
/tomoseq.data.Rds

# Rds file providing default shifts/stretches
/shift_stretch.Rds

# Rds file providing gene profiles
/gene.profiles.Rds

# Rds file providing gonad arm model
/gonad.model.Rds
